.dropdown-selected{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	z-index:5;
	height: 38px;
	overflow-y: visible;
	.user{
		margin-top: 12px;
		margin-right: 4%;
	}
}
#input-dropdown{
	border-radius: 4px;
}