.room-choice-block{
	overflow: visible;
	
}
.room-choice-block-choice{
		pointer-events:none;
		background-color: #007DFF !important;
		color:white;
		border-radius: 4px !important;
}
.room-choice-block-rec{
		width: 100% !important;
		background-color: #E9ECEF !important;
		margin-bottom: 8px !important;
		border-radius: 4px !important;
		&:hover{
			cursor: pointer;
		}
}
.room-block-close-icon{
    display: flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    left: 94%;
    top: 50%;
    transform: translateY(-50%);
    z-index:10;
    opacity: 0.5;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
