@import './../../styles/mixins';
.date-switcher-outer{
	position: relative;
	display: inline-block;
	margin-left: 25px;
	//width: 100%;
	*{
		vertical-align: top;
	}
}
.date-switcher-arrow{
	display: inline-block;
	position: relative;
	background-color: #E9ECEF;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	opacity: 0.7;
	&.arrow-left{
		img{
			transform:scale(-1);
			margin-left: -3px;
		}
	}
	img{
		margin-top: 6px;
		margin-left: 3px;
	}
	@include hover-opacity();
}
.date-switcher-date{
	display: inline-block;
	margin: 0 12.5px;
	font-size: 15px;
	font-weight: bold;
	min-width: 126px;
    text-align: center;
	@include hover-blue-text();
}