.user{
	position: relative;
	display: inline-flex;
	font-size: 13px;
	height:24px;
	line-height: 25px;
	color:black;
	&.closable{
		background-color: rgba(233,236,239,1);
		border-radius: 16px;
	}
	.user-avatar{
		width: 24px;
		height: 24px;
		position: relative;
		display: inline-block;
		border-radius: 50%;
		margin-right: 8px;
		background-size: cover;
	}
}