@import '../../styles/mixins';
.spec{
	    display: inline-block;
    width: auto;
    vertical-align: middle;padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-outer{
	margin:32px 16%;
    //border: 1px solid #E9ECEF; 
    .form-inline label{
        justify-content:flex-start;
    }
}
.form-title{
	font-size:20px;
	font-weight: bold;
	margin-bottom: 20px;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.calendar-icon{
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    left:-24px;
    z-index:10;
    opacity: 0.5;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
.control-label{
    font-weight: bold;
}
#form-screen-datepicker{
    input{
        background-color: transparent;
        pointer-events:none;
    }
    .calendar-outer{
        top: 50px;
    }
}