.header {
  width:96%;
  padding: 0 2%;
  height: 71px;
  color: white;
  display: flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  display: inline-block;
  position: relative;
  width: 173px;
  height: 24px;
}