@import '../../styles/mixins';
.calendar-icon{
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    left:-24px;
    z-index:10;
    opacity: 0.5;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
.control-label{
    font-weight: bold;
}
.my-row{
  display: flex;
  margin:0;
}

.input-theme {
  width: 48%;
  margin-right: 4%;
  min-width: 195px;
}
.input-date{
  width: 27%;
  margin-right: 2%;
  min-width: 140px;
}
.input-dash{
  width: 2.5%;
  text-align: center;
  font-weight: bold;
  p{
    line-height: 50px;
  }
}
.input-time{
  width: 8%;
  min-width: 62px;
}
.input-dropdown{
  width: 48%;
  margin-right: 4%;
  min-width: 307px;
}
.input-room{
  width: 48%;
  .help-block{
    top: 32%;
  }

}
.input-room,.input-theme,.input-dropdown{
  min-width: 307px;
}
.help-block{
  position: absolute;
  color:#a94442;
  font-size:0.9em;
}
.form-group{
  input,label{
    font-size: 0.9em !important;
  }
  input{
    height: 38px;
  }
}
#form-screen-datepicker{
    width: 30%;
    input{
        background-color: transparent;
        pointer-events:none;
    }
    .calendar-outer{
        top: 50px;
    }
}
.fg-error{
  input{
    border-color:#a94442;
  }
}

